body {
	background-color: #000000;
	font-family: 'Baloo 2', cursive;
	color: #FFFFFF;
}

#intro {
	text-align: center;
}

.social-icon {
	font-size: 75px;
	margin: 15px 15px 15px 15px;
}

#social-icons {
	text-align: center;
	padding: 15px 15px 15px 15px;
}

a:link, a:visited{
	text-decoration: none;
	background-color: transparent;
}

#email {
  text-align: center;
  color: white;
  padding: 10px 10px 10px 10px;
}

footer {
	text-align: center;
}