body {
	background-color: #000000;
	font-family: 'Special Elite', cursive;
	color: #FFFFFF;
}

#logo {
	width: 40%;
	margin: 50px 30% 10px 30%;
}

#intro {
	text-align: center;
	padding: 40px 25px 0px 25px;
}

.social-icon {
	font-size: 75px;
	margin: 15px 15px 15px 15px;
}

#social-icons {
	text-align: center;
	padding: 0px 25px 0px 25px;
}

a:link, a:visited{
	text-decoration: none;
	background-color: transparent;
}

#email {
  text-align: center;
  padding: 10px 25px 0px 25px;
  color: white;
  text-decoration: none;
}

#email-link, #email-link:link, #email-link:visited {
	text-decoration: none;
	color: white;
}

footer {
	text-align: center;
	padding: 0px 25px 15px 25px;
}

#orange-o {
	color: #FB8424;
}