body {
	background-color: #000000;
	font-family: 'American Typewriter';
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	width: 100%;
}

.intro {
	text-align: center;
	margin: 0;
	padding: 0 25px;
}

.social-icon {
	font-size: 75px;
	margin: 15px 10px 15px 10px;
}

#social-icons {
	text-align: center;
	padding-bottom: 25px;
	padding-top: 20px;
	margin: 0;
}

a:link, a:visited{
	text-decoration: none;
	background-color: transparent;
}

#email {
	text-align: center;
	padding: 25px 25px 0px 25px;
	color: white;
	text-decoration: none;
	margin: 0;
}

#email-link, #email-link:link, #email-link:visited {
	text-decoration: none;
	color: white;
}

footer {
	text-align: center;
	padding-bottom: 15px;
	margin: 0;
}

.orange-o {
	color: #FB8424;
}

.filler-block {
	background-color: red;
	height: 100px;
	margin: 0;
}

.swiper {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 0px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 350px;
}

.swiper-slide img {
	display: block;
	width: 100%;
}

.album-title {
	text-align: center;
	height: 50px;
	margin: 13px 0px 0px 0px;
	padding: 0px;
	text-decoration: none;
}

.lyrics {
	color: #888888;
	line-height: 25px;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}